@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Malaysia<br />
   Kirit Shah<br />
    <abbr title="Phone">P:</abbr>
    +603-0000000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:kiritshah234@gmail.com">Support@example.com</a><br /> 
</address>