@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library management system</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>Learn and develop more &raquo;</p>
</div>

<div class="row">
    <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <h2>Welcome to my sample application</h2>
            <p>
                This library management application is web base sample application not fully developed.This application developed by using visual studio 2019 community edition , ASP .Net framwork, MVC architecture and Entity framwork 6.
            </p>
        </div>

    </div>
